asn1crypto==1.5.1
certifi==2024.7.4
cffi==1.16.0
cryptography==42.0.8
defusedxml==0.7.1
eight==1.0.1
future==1.0.0
lxml==5.2.2
pyasn1==0.6.0
pyOpenSSL==24.2.1
pycparser==2.22
signxml==3.2.2
six==1.16.0
